
.body_wrapper{
	margin-top:80px;
}
body{
	/* This is to force the google chrome to render google font*/
	-webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
	/* This is to force the google chrome to render google font*/
	
	font-family: 'Verdana';
	font-weight: lighter;

}

/* This is to force the google chrome to render google font*/
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

    @media screen and (max-width: 528px) {
body{
	
	font-family: 'Ubuntu';
	font-weight: lighter;

}

    }
