@media screen and (min-width: 991px) {

        body {
            overflow: hidden;
        }

        head {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            height: 50px;
        }

        .leftPane {
            overflow-y: auto;
            position: absolute;
            top: 50px;
            left: 0px;
            bottom: 50px;
            height: 100%;
            width:200px;
            background-color: whitesmoke;

        }
        #toggle{
            display: none;
        }
        .leftPane h4{
            text-align:center;
            color:black;
        }
        .leftPane ul {
            list-style: none;
        }

        .leftPane a {
            text-decoration: none;
            color: black;
            height: 30px;
            display: block;
            outline:none;
        }
        #tabs .ui-state-hover
        {
            background: #5ba63c !important;
        }
        #tabs .ui-state-active
        {
            background: #5ba63c !important;

        }

        .rightPane {
            overflow-y: auto;
            overflow-x: auto;
            position: absolute;
            top: 42px;
            left: 200px;
            right: 0;
            bottom: 50px;
            padding:10px;

        }
        .rightPane p{
            padding-left:20px;

        }
        pre{
            background-color: white;
            border: none !important;;
        }

        footer {
            overflow: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50px;
        }
    }
    @media screen and (max-width: 991px) {

        body {
            overflow: hidden;
        }

        head {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            height: 50px;
        }

        .leftPane {
                position: fixed;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                z-index: 1000;
                top: 50px;
                bottom: 0;
                left: 0;
                width: 200px;
                background-color: whitesmoke;
                transform: translate3d(-200px, 0, 0);
                transition: transform 0.4s ease;

            

        }
        #toggle{
            border:5px solid white;
            /*background-color:#2a2a2a;*/
            background-color: red;

               

        }
        #toggle:hover{
            background-color:black;
        }
        .leftPane h4{
            text-align:center;
            color:black;
        }
        .leftPane h3{

        }
        .leftPane ul {
            list-style: none;
        }

        .leftPane a {
            text-decoration: none;
            color: black;
            height: 30px;
            display: block;
        }
        #tabs .ui-state-hover
        {
            background: #5ba63c !important;
        }
        #tabs .ui-state-active
        {
            background: #5ba63c !important;
        }

        .rightPane {
            overflow-y: scroll;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            position: fixed;
            top: 42px;
            left: 0;
            bottom: 50px;
            padding: 10px;
            width: 100%;
            transition: transform 0.4s ease;

        
        }

        .rightPane p{
            padding-left:20px;

        }
        pre{
            background-color: white;
            border: none !important;
        }

        footer {
            overflow: hidden;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50px;
        }

        .active-leftbar #leftPane
        {
            transform: translate3d(0, 0, 0);
        }
        .active-leftbar #rightPane
        {
            transform: translate3d(200px,0,0);
        }


    }
    /**/
    @media screen and (max-width: 991px) {


    }
        
        /*for jquery tabs */
        .ui-tabs-vertical { width: 55em; }
        .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em;width: 100%; }
        .ui-tabs-vertical .ui-tabs-nav li { padding-left:10px;clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
        
        /*for jquery tabs */